.movieList {
    max-width: 90%;
    height: 590px;
    margin: 100px auto;
    display: flex;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

.movieList article {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 4px;
}

.movieList strong {
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
}

.movieList img {
    height:550px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}
